*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(/static/images/space.jpg);
    display: flex;
    justify-content: center;
}

.webgl
{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
}


.container {
    display: flex;
    flex-direction: column;
    color: tomato;
    height: 310px;
    width: 60%;
    z-index: 0;
    align-self: center;
    justify-content: space-between;

}

.greeting {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1.5rem;
}

.intro {
    font-size: 1.4rem ;
    
}